@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --bg-color-light: #f1f1f1;
    --corporate-green: #57d75b;
    --main-grey-color: #838588;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color-light);
}

.container{
    max-width: 1440px;
    padding: 0 30px;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid #838588;
    display: flex;
    justify-content: space-between;
}

.main__bg{
    margin-top: 30px;
    width: 1440px;
}

.ad__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.ad{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    border-radius: 10px;
    padding: 20px;
    transition: 0.2s;
}

.ad:hover{
    transform: scale(105%);
    cursor: pointer;
    box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}

.ad__number{
    border-radius: 10px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-right: 720px;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: white;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
    padding-right: 30px;
    width: 400px;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__button {
    border: none;
    background-color: transparent;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }